body {
    margin: 0;
    padding: 0;
    background: url("/static/Images/background_fut.jpg") no-repeat fixed;
    background-size: cover;
}

.login {
    max-height: 100%;
    margin: 10% 30%;
    padding: 1% 5% 2.5% 5%;
    border: solid black;
    border-radius: 5%;
    border: 0;
    background-color: rgb(192, 187, 187);
}

.logintitle{
    font-family: 'Dongle', sans-serif;

}


.login label {
    font-size: 18px;
    text-align: right;
    font-family: 'Roboto', sans-serif;

}

.login input {
    text-align: center;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    transition: 500ms;
    border: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.login input:hover {
    border-color: rgb(255, 47, 98);
    transition: 500ms;
}

#loginbutton{
    transition: 500ms;
    font-family: 'Roboto Slab', serif;
}

#loginbutton:hover{
    color: white;
    background-color: black;
    transition: 500ms;
}

.login img{
    width: 100%;
    height: auto;
    margin:50px;
    margin-left:0;
    margin-right: 0;
}


.register {
    max-height: 100%;
    margin: 5% 5%;
    padding: 5% 5% 5% 5%;
    border-radius: 1%;
    border: 0;
    background-color: rgb(236, 236, 236);
}

#submit {
    transition: 500ms;
    width: 100%;
    text-align: center;
    border: 0;
    background-color: rgb(205, 205, 205);
}

#submit:hover {
    background-color: rgb(255, 47, 98);
    color: white;
    transition: 500ms;
    border-color:black;
    text-align: center;
}



.checkbox input {
    width: auto;
    height: auto;
}