
.wallet-wrapper {
    border: 1px solid darkgrey;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 0 1%;
    margin-bottom: 1% ;
}

.wallet-button {


}

.coin-wrapper {
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin: 1% 0;
}

.coin-logo{
    max-height: 30px;
    margin: 1%;
    padding: 0;
    margin: 0;

}

.coin-name{
    font-size: 50px;
    max-height: 50px;
    margin: 1%;
}

.coin-value{
    margin: 1%;
}

.depositar {
    float: left;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    width: 45%;
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    border:0;
    transition: 500ms;
}

.levantar{
    float: right;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    width: 45%;
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    border:0;
    transition: 500ms;
}

.depositar:hover, .levantar:hover {
    background-color: black;
    color: white;
    transition: 500ms;
}
