{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'CSS/login.css' %}">
    <link rel="icon" href="{% static 'Images/icon.png' %}">
    <title>Login</title>
</head>
<body>
<div class="login">
    <a href="{% url 'home' %}"> <img src="{% static 'Images/logo.png' %}" alt="Rasbet"></a>

    <h1 class="logintitle">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <label>
            Username:
            <input type="text" name="username" placeholder="username"/>
        </label>
        <label>
            Password:
            <input type="password" name="password" placeholder="password"/>
        </label>

        {% include 'messages.html' %}

        <div class="checkbox">
            <label for="remember-me" class="text-info">
                <span>Remember me</span> <span>
                <input id="remember-me" name="remember-me" type="checkbox"></span>
            </label>
            <br>
        </div>

        <input id="loginbutton" type="submit" value="Login"/>
    </form>

    <p>Haven't signed up yet? <a href="{% url 'register' %}">Sign up</a></p>


</div>
</body>
</html>